* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, main {
    background-image: linear-gradient(
        0deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        157.5deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        112.5deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        90deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(90deg, rgb(173, 92, 95), rgb(110, 20, 174));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

header {
  background-color: rgba(0, 0, 139, 0.3);
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
}

nav {
  margin: 12px 0;
  padding: 5px;
}

.typed-text {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

footer {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-top: 2px solid rgba( 255, 255, 255, 0.4);
  background-color: rgba( 255, 255, 255, 0.4);
  position: fixed;
  bottom: 0;
}

.container {
  margin-right: 0 !important;
}

.about-me {
  font-size: 18px;
  font-weight: normal;
}

img {
  padding-top: 13px;
}