* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, main {
    background-image: linear-gradient(
        0deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        157.5deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        112.5deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(
        90deg,
        rgb(213, 229, 183) 0%,
        rgb(213, 229, 183) 17%,
        rgb(189, 213, 190) 17%,
        rgb(189, 213, 190) 29%,
        rgb(166, 196, 196) 29%,
        rgb(166, 196, 196) 38%,
        rgb(142, 180, 203) 38%,
        rgb(142, 180, 203) 47%,
        rgb(118, 164, 210) 47%,
        rgb(118, 164, 210) 58%,
        rgb(95, 147, 216) 58%,
        rgb(95, 147, 216) 88%,
        rgb(71, 131, 223) 88%,
        rgb(71, 131, 223) 100%
      ),
      linear-gradient(90deg, rgb(173, 92, 95), rgb(110, 20, 174));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

header {
  background-color: rgba(0, 0, 139, 0.3);
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
}

nav {
  margin: 10px 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  text-align: center;
}

svg {
  color:red;
}

.typed-text {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

.about-me {
  font-size: 18px;
  font-weight: normal;
  padding: 3% 0 8% 0;
}

.form {
  padding: 0 0 16% 0;
}

.text-block {
  position: relative;
  top: -50%;
  left: 45%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.646);
  color: white;
  /* padding-left: 20px;
  padding-right: 20px; */
  text-align: center;
  width: 50%;
}

.footer-icon svg {
  color: black !important;
}

.footer-icon svg:hover {
  color: silver !important;
}

.resume {
  padding: 0 0 5% 0;
}

.download-btn{
  margin: 1% 0 0 13%
}
